body {
    background-image: url('../assets/images/swirl_pattern.jpg');
	height: 100%;
	position: relative;
}

body,h1,h2,h3,h4,h5,h6 {
    font-family: "Karma", sans-serif;
}

.name{
    font-size:45px;
}

.w3-main{
    max-width:1200px;
    background:rgba(255, 255, 255, 0.445);
}

.w3-bar-block .w3-bar-item {
    padding:20px;
}

.w3-left{
    margin-right: 15px;
}

#mySidebar {
    display:none;
    z-index:2;
    width:20%;
    min-width:300px;
}

.topMenu{
    margin: auto;
    background: white;
}

/* CONNECT WITH ME */
.connectPic{
  display:inline-block;
  margin: 0 auto;
  width: 50px;
  height: 50px;
}

.Me{
    display:block;
    margin:auto; 
    width:350px; 
    height:200px;
    padding-top: 40px;
    border-radius: 50%;
}
 
.mySlides {
    width: 500px;
    height: 500px;
    align-content: center;
    display:block;
    margin:auto;
    margin-top: 150px;
}

.portfolio_pics{
    width: 100%;
    height: 150px;
}

/* CONTACT FORM */
input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid black; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px; 
    resize: vertical
}

input[type=submit] {
    background-color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: blue;
}

.contactForm {
    margin-bottom: 80px;
}

.container {
    border-radius: 5px;
    background-color:rgba(0, 0, 0, 0.329);
    padding: 20px;
}

footer {
    background:white;
    color: black;
    margin-top: 20px;
    /* margin: auto; */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.enter {
    margin: 35px 0 60px 0;
}

@media screen and (max-width: 640px) {
    .name{
        font-size:25px;
    } 
    body {
        width: 500px;
    }
    .enter {
        text-align: center;
    }
    .portfolio_pics, .Me {
        width: 60%;
        align-content: center;
        display:block;
        margin:auto;
    }
}


