.card-title {
    background-color:#423f3f;
    width: 100%;
}

.portfoliopics {
    width: 300px;
    height: 300px;
}

.nav-wrapper {
    background-color: #a03343;
}

nav.navbar a {
    color: white;
}

.section {
    background-color: rgb(46, 46, 46);
}
