.card-title {
    background-color:#777;
    width: 100%;
}

.portfoliopics {
    width: 300px;
    height: 300px;
}

.nav-wrapper {
    background-color: #a03343;
}

nav.navbar a {
    color: white;
}

.section {
    background-color: rgb(46, 46, 46);
}

.image-container {
    border-radius: 2%;
    border: black solid 2px;
}

.githubIcon {
    float: right;
    margin-right: -15px;
    max-width: 20px;
    width: 100%;
    height: auto;
}

@media screen and (max-width: 753px) {
    .image-container{
        margin-bottom: 40px;
    }
}